NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_HTTP_HOST=http://localhost:5001
NEXT_PUBLIC_WS_HOST=ws://localhost:5001

NEXTAUTH_SECRET=your-nextauth-secret-key-here

GOOGLE_CLIENT_ID=your-google-client-id-here
GOOGLE_CLIENT_SECRET=your-google-client-secret-here

